// color variants
@import 'themes-vars.module.scss';

// third-party
@import 'react-perfect-scrollbar/dist/css/styles.css';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}
.css-18tlfgm-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #ffffff !important;
}

.CardHeader {
  margin-bottom: 10px !important;
  border-radius: 7px !important;
  width: auto !important;
  max-height: 80vh !important; /* Removed responsive design as it's not supported in CSS */
  overflow: auto !important;
  padding: 5px !important;
}

.css-5d09g1-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px;
}
.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px;
}
//appbar
.css-kvip5o-MuiToolbar-root {
  min-height: 0px;
  padding: 0px;
}
.css-h4y409-MuiList-root {
  padding-top: 0px;
}
.bi-menu-down::before {
  color: #d12d33;
}
.css-138lma6-MuiPaper-root-MuiCard-root {
  border-width: 1px;
  border-style: dotted;

  box-shadow: 5px 5px lightgray;
}

.css-9d4wr9 {
  margin-left: 0;
  width: calc(100% - 260px);
  border-style: dashed;
  border-color: black;
  border-width: 2.5px;
}
.css-1gr4mqk {
  margin-top: 55px;
}
//dropdown arrow
// .css-sgoict-MuiCardHeader-action {
//   margin-top: -18px !important;
// }
//menuiconsize
// .css-1ips9rb-MuiListItemIcon-root {
//   font-size: large !important;
// }
//cardheader icon size
.css-1pqm26d-MuiAvatar-img {
  width: 80%;
  height: 80%;
}
.css-1gr4mqk,
.css-38c5y6 {
  background-color: #ffffff;
  margin-left: 0;
  width: calc(100% - 260px);
  border-style: dashed;
  border-color: black;
  border-width: 2.5px;
}
.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}
