# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
src/menu-items/dashboard.js.orig
src/views/sample-page/index.jsx.orig
.eslintrc.orig
package.json.orig
package-lock.json.orig
src/components/EditAbleDataGrid.jsx.orig
src/views/Planning/NewCollection.jsx.orig
src/views/Planning/PrePlanning.jsx.orig
src/api/menuService.js.orig
src/views/Planning/NewDesign.jsx.orig
src/views/Planning/PrePlanningCreation.jsx.orig
.gitignore.orig
