.css-h4y409-MuiList-root {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 5px;
  /* padding-bottom: 8px; */
}

.css-1pxvvms-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root:hover {
  /* background-color: #9f1d22; */
  /* color: white; */
  border-radius: 7px;
  /* opacity: ; */
}

.css-1pxvvms-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  /* background-color: #9f1d22; */
  opacity: 0.85;
  /* color: white; */
  border-radius: 7px;
}
.css-pxzkdk-MuiDrawer-docked .MuiDrawer-paper {
  background-image: url('https://cdn11.bigcommerce.com/s-hv21hhsv/images/stencil/700x700/products/38611/284805/2e6462c221260668bf7516fe2121ad54__84353.1704082180.jpg?c=2');
  background-size: contain;
}

/* avatar hover */
.css-6zypyp-MuiButtonBase-root-MuiChip-root[aria-controls='menu-list-grow'],
.css-6zypyp-MuiButtonBase-root-MuiChip-root:hover {
  /* border-color: #9f1d22; */
  /* background: #9f1d22 !important; */
}

.css-138lma6-MuiPaper-root-MuiCard-root {
  border-width: 1px;
  border-style: dotted;
  border-color: rgb(161, 31, 35);
}
