.css-h4y409-MuiList-root {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 5px;
  /* padding-bottom: 8px; */
}

.css-1pxvvms-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root:hover {
  /* background-color: #9f1d22; */
  /* color: white; */
  border-radius: 7px;
  /* opacity: ; */
}

.css-1pxvvms-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-e5rpmv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  /* background-color: #9f1d22; */
  opacity: 0.85;
  /* color: white; */
  border-radius: 7px;
}
/* .css-pxzkdk-MuiDrawer-docked .MuiDrawer-paper {
  background-image: url('https://cdn11.bigcommerce.com/s-hv21hhsv/images/stencil/700x700/products/38611/284805/2e6462c221260668bf7516fe2121ad54__84353.1704082180.jpg?c=2');
  background-size: contain;
} */

.MuiCardHeader-root {
  background: rgb(161, 31, 35);
  color: white !important;
  max-height: 30px !important;
}

/* .css-1ips9rb-MuiListItemIcon-root {
  font-size: large;
} */
/* .css-1gr4mqk {
  margin-top: 55px;
}
.css-sgoict-MuiCardHeader-action {
  margin-top: -18px;
}

.css-1pqm26d-MuiAvatar-img {
  width: 80%;
  height: 80%;
}

.css-kvip5o-MuiToolbar-root {
  min-height: 0px;s
  padding: 0px;
} */
.custom-autocomplete .MuiAutocomplete-listbox {
  background-color: white;
}
/* .css-12le6h4-MuiFormLabel-root-MuiInputLabel-root {
  color: #1e00ff !important;
} */
/* .css-4a5t8g-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  background-color: lightblue !important;
  opacity: 1;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
} */
